span{
    font-size: 18px;
}

.container1{
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
}

div{
    margin: 10px 0px;
}

.container2{
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

select{
    font-size: 18px;
}

.subContainer{
    border-bottom: 1px solid black;
}

input{
    border: none;
}

.btn{
    cursor: pointer;
}

.imgFull{
    width: 30px;
    height: 30px;
}

.imgHalf{
    width: 20px;
    height: 30px;
}

.compoContainer{
    width: 800px;
    display: flex;
    justify-content: end;
}
.compoBox{
    width: 200px;
    text-align: center;
    letter-spacing: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.text{
    width: 800px;
    height:400px;
    font-size: 18px;
    background-color: #8b8b8b1c;
    resize: none;
    color: black;
    border-top: 2px solid #0000007e;
    border-bottom: 2px solid #0000007e;
    outline: none;
    margin: 10px 0;
}

.halftext {
    width: 380px;
    height:400px;
    font-size: 18px;
    background-color: #8b8b8b1c;
    resize: none;
    color: black;
    border-top: 2px solid #0000007e;
    border-bottom: 2px solid #0000007e;
    outline: none;
    
}
.fullImage, .mapImage{
    width: 800px;
    height:400px;
    background-color: #8b8b8b1c;
    border: none;
}

.fullContent{
    width: 800px;
}

.halfContent{
    width: 400px;
}


.halfImage{
    width: 380px;
    height:400px;
    background-color: #8b8b8b1c;
}

.hashtag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width : 800px;
    height: auto;
    background-color: #8b8b8b1c;
    border: none;    
}

#submit{
    background-color: #486284;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    width: 150px;
    height: 50px;
}

.xBtn{
    width: 25px;
    height: 20px;
    vertical-align : middle;
    cursor: pointer;
}