.board-detail{
    width: 900px;
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 20px;
}

.board-name{
    margin: 0 0 10px;
}

.board-title{
    font-size: 2em;
    border-top: 2px solid #ccc;
    padding: 20px 0;
}

.board-header{
    border: 1px solid #EEEEEE;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.board-writer{
    display: flex;
    align-items: center;
}

.board-writer > img{
    width: 40px;
    height: 40px;
}

.board-writer > span{
    margin-left: 10px;
    font-weight: bold;
}

.board-info{
    width: 250px;
    font-size: 0.8em;
}

.board-info > p{
    margin: 0;
}

.board-info span{
    width: 120px;
    display: inline-block;
    font-weight: bold;
}

.board-content{
	min-height: 300px;
    padding: 20px;
}

.board-content img{
    display: block;
    max-width: 200px;
    max-height: 200px;
}

#likeBtn{
    display: block;
    margin: 30px auto;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    cursor: pointer;
}

.like-true{
	background-color: pink;
}

.like-true:hover{
	background-color: rgb(230, 13, 60);
}

.board-btn-area{
    display: flex;
    justify-content: flex-end;
}

.board-btn-area > button{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
    cursor: pointer;
}

.board-btn-area > button:hover{
    background-color: black;
    color: white;
}

.pagination{
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;

    display: block;
}