.reply-count{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    margin: 10px 0;
}

#reply-list{
    padding: 0;
    list-style: none;
}

.reply-row{
    border-top: 1px solid #ccc;
    padding: 15px 30px;
}

.reply-writer > img{
    width: 40px;
    height: 40px;
}

.reply-writer > span{
    font-weight: bold;
    margin-left: 10px;
}

.reply-date{
    color: #aaa;
    font-size: 0.8em;
}

.reply-btn-area{
    display: flex;
    justify-content: flex-end;
}

.reply-btn-area > button{
    width: 50px;
    height: 30px;
    margin-left: 10px;
    font-weight: bold;

    border: 1px solid #c2c2c2;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
}

.reply-btn-area > button:hover{
    background-color: black;
    color: white;
}

.update-textarea{
    width: 100%;
    height: 90px;
    resize: none;
}

.reply-write-area{
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #FCFCFC;
    padding: 15px;
}

.reply-write-area> div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#replyContent{
    flex-basis: 90%;
    border: 1px solid #DDDDDD;
    background-color: #F3F3F5;
    resize: none;
    margin-right: 10px;
    height: 100px;
}

#addReply{
    flex-basis: 8%;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border: 1px solid #c2c2c2;
    height: 50px;
}

#addReply:hover{
    background-color: black;
    color: white;
    border: 1px solid #c2c2c2;
}