.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 섹션간 간격 */
.container section{
    margin-bottom: 20px;
}

.main-img{
    width: 1600px;
    height: 750px;
    overflow: hidden;
    margin: 0 auto;
}

.main-imgs-wrap{
    position: relative;
    height: 100%;
    width: 100%;
}

.main-imgs-wrap > img{
    position: absolute;
    float: left;
    z-index: -999;
    width: 100%;
    height: 100%;
}

.popular-region{
	width: 1080px;
	height: 720px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 20px 20px 20px;
}

.popular-img{
    width: 50%;
}

.popular-img-halfHeight{
    height: 50%;
}



/* 섹션 타이틀 */
.section-title{
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.popular-img-wrap{
    display: flex;
    width: 100%;
    height: 83.2%;
}

.img-wrap{
    height: 50%;
}

.popular-img-wrap img{
    width: 100%;
    height: 100%;
}

.community{
	width: 1080px;
	height: 720px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 20px;
}

.community-cont-wrap{
    display: flex;
    justify-content: space-between;
    height: 580px;
}

.community-cont{
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 49%;
    padding: 0 40px;
}

.community-cont>p{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}