.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3000px;
}

.main-img{
    width: 1600px;
    height: 750px;
    overflow: hidden;
}

.main-imgs-wrap{
    position: relative;
    height: 100%;
    width: 100%;
}

.main-imgs-wrap > img{
    position: absolute;
    float: left;
    z-index: -999;
    width: 100%;
    height: 100%;
}

.main-img>button{
    position: absolute;
    top: 50%;
    height: 100px;
    width: 55px;
    margin-top: -50px;
    border-radius: 45px;
    opacity : 0.5;
}

#btn1{
    left: 30px;
}

#btn2{
    right: 30px;
}
