.main-img{
    width: 1600px;
    height: 750px;
    overflow: hidden;
    margin: 0 auto;
}

.main-imgs-wrap{
    position: relative;
    height: 100%;
    width: 100%;
}

.main-imgs-wrap > img{
    position: absolute;
    float: left;
    z-index: -999;
    width: 100%;
    height: 100%;
}

.content{
	width: 1080px;
	margin: auto;
}

.content > section{
	margin: 20px;
}

.popular-region{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.popular-img{
    width: 50%;
}

.popular-img-halfHeight{
    height: 50%;
}

.community{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

/* 섹션 타이틀 */
.section-title{
    font-size: 36px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-top: 16px;
}

.popular-img-wrap{
    display: flex;
    height: 600px;
}

.img-wrap{
    height: 50%;
}

.popular-img-wrap img{
    width: 100%;
    height: 100%;
}

.community-cont-wrap{
    display: flex;
    justify-content: space-between;
}

.community-cont{
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 49%;
    padding: 0 40px;
}

.community-cont>p{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.list-table{
    width: 100%;
}

.list-table tr{ height: 50px; }

.list-table > tbody> tr{ border-bottom: 1px solid gray; }

.list-table tr > td:nth-of-type(1){
    width: 70%;
    text-align: left;
    padding-left: 50px;
    position: relative;
}
.list-table tr > td:nth-of-type(2){width: 15%;}
.list-table tr > td:nth-of-type(3){width: 15%;}

.list-table td {
    text-align: center;
}

.list-thumbnail{
	max-width: 50px;
    max-height: 30px;
    position: absolute;
    left: -5px;
    top: 10px;
}