*{
    /* border: 1px solid black; */
}

.myPage-content{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 50px auto;
}

.myPage-main{
    width: 700px;
    padding: 74px 50px 50px 50px;
    border: 1px solid #ddd;
    /* box-shadow: 10px 15px 7px black; */
    border-radius: 10px;
}

.myPage-title{
    margin: 0 0 10px 0;
    font-size: 30px;
    text-align: center;
}

.myPage-row{
    height: 100px;
    margin-top: 30px;
    border-bottom: 2px solid #ddd;
    display: flex;
    align-items: center;
}

.myPage-row > *{
    font-size: 18px;
    font-weight: bold;
}

.myPage-row > label{
    width: 50%;
    color: black;
}

.myPage-row > input{
    height: 50%;
    background-color: #e1fbff;
    outline: 0;
    border: 0;
    font-weight: normal;
}

label[for="input-image"]{
    text-align: center;
    padding: 7px 0 ;
    width: 20%;
    font-size: 15px;
    font-weight: bold;
    background-color: #e1fbff;
    border-radius: 20px;
    cursor: pointer;
    margin-left: auto;
    border: 1px solid black;
}

#info-update-btn{
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #e1fbff;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

#input-image{
    display: none;
}

.profileImage > button{
    width: 30%;
    padding: 10px;
    margin: 50px 0;
    border: none;
    font-size: 15px;
    background-color: #e1fbff;
    color: black;
    border-radius: 20px;
    border: 0;
    margin-left: auto;
    cursor: pointer;
    border: 1px solid black;

}