/* 마이페이지 사이드바 영역 */

.middle-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 20px;
    height: 700px;
}

.middle-area a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* 프로필, 닉네임 영역 */
.sideBarTop{
    margin-top: 50px;
    text-align: center;
}

/* 프로필 이미지 영역 */
.myPageProfile{
    border-radius: 50%;
    border: 5px solid rgba(218, 14, 82, 0.5);
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPageProfile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* 닉네임 영역 */
.memberId{
    margin: 25px 0;
    font-size: 20px;
    font-weight: bold;
}

/* 마이페이지 사이드바 */
/* #left-sideBar{
    margin-top: 85px;
} */

.sideBarMenu{
    border-bottom: 1px solid #ddd;

    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    cursor: pointer;
}

.sideBarMenu:hover{
    background-color: rgba(52, 196, 219, 0.5);
    color: white;
}

.myPageProfile{
    position: relative;
}


/* #imageInput{ display: none;}

.myPageProfile > label{
    font-size: 14px;
    right: 0;
    position: absolute;
    bottom: 10px;
    background-color: pink;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;

} */