*{
    box-sizing: border-box;
}

/* header */
header{
    width: 100%;
    height: 100px;
    background-color: #E1FBFF;

}

header ul{
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
   
}

header li{
    padding: 0 20px;
    height: 100%;

    display: flex;
    align-items: center;
}

header li:hover{
    background-color: #8BF1F1;
}

header a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}


/* 메인 */

main{
    display: flex;
    justify-content: center;
    
    padding: 150px 0;
}

.searchId-area{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 450px;
    height: 500px;

}


form div{
    display: flex;
    justify-content: space-evenly;
    width: 330px;
}

form div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

form div:last-child{
    justify-content: center;
}

#searchId-btn{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid  black;
    background-color: #E1FBFF;
    cursor: pointer;
}

#searchId-btn:hover{
    background-color: #8BF1F1;
}

form span{
    font-weight: bold;
}

form input{
    width: 220px;
    height: 40px;
    outline: 0;
    border: 1px solid black;
    padding-left: 15px;
    border-radius: 5px;
}

