*{
  box-sizing: border-box;
  /* border: 1px solid black; */
}

a{
  text-decoration: 0;
  color: black;
}

/* 메인 */

main{
  display: flex;
  justify-content: center;
  padding: 150px 0;
}

.searchId-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 500px;
}

form div{
  display: flex;
  align-items: center;
  margin: 30px 30px;
}

div>label{
  margin: 20px ;
}

form div:last-child{
  justify-content: center;
}

#searchId-btn{
  width: 70px;
  font-size: 15px;
  line-height: 25px;
  background-color: #486284;
  color: white;
  border: 0;
  cursor: pointer;

}

#searchId-btn:hover{
  background-color: #8BF1F1;
}

form span{
  font-weight: bold;
}

form input{
  width: 220px;
  height: 40px;
  outline: 0;
  border: 1px solid black;
  padding-left: 15px;

  border-radius: 5px;
}


/* 확인버튼 */
