#size-test > li:nth-child(1){font-size: 24px;}
#size-test > li:nth-child(2){font-size: 24pt;}
#size-test > li:nth-child(3){font-size: 150%;}
#size-test > li:nth-child(4){font-size: 1.5em;}
/* 크롬 브라우저 기준 기본 글꼴 크기 : 16px */

/* font-weight */
#weight-test > li{font-size: 35px;}

#weight-test > li:nth-child(1){font-weight: 600;}
#weight-test > li:nth-child(2){font-weight: bold;}
#weight-test > li:nth-child(3){font-weight: bolder;}
#weight-test > li:nth-child(4){font-weight: lighter;}
#weight-test > li:nth-child(5){
    font-weight: normal;
    font-style: oblique;
    /* font-style : 글꼴의 모양을 지정하는 속성 */
    /* oblique : 강제로 글자를 비스듬하게 */
    /* intalic : 폰트에서 제공하는 비스듬한 글자 */
}

/* font-family */
.cls > li{font-size: 35px;}

#family-test1 > li:nth-child(1){
    font-family: '궁서'; /* 설치된 폰트인 경우 */
}

#family-test1 > li:nth-child(2){
    font-family: '동서남북체'; /* 없는 폰트인 경우 기본 폰트로 설정 */
}

#family-test1 > li:nth-child(3){
    font-family: '동서남북체', 'Single Day';
}

/* 웹 폰트 */
/* link 태그를 이용한 방법 */
#family-test2 > li:nth-child(1){
    font-family: Single Day;
}